/* Reset box sizing for safety */
* {
  box-sizing: border-box;
}

/* Container */
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 4rem 1rem;
}

@media (min-width: 768px) {
  .banner-container {
    flex-direction: row-reverse;
    padding: 4rem;
    gap: 2rem;
  }
}

/* Image wrapper */
.banner-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .banner-image-wrapper {
    width: 50%;
    justify-content: flex-end;
  }
}

.banner-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Text content */
.banner-content {
  width: 100%;
}

@media (min-width: 768px) {
  .banner-content {
    width: 50%;
  }
}

.banner-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.75rem;
   color: var(--text-color);
}

@media (min-width: 768px) {
  .banner-title {
    font-size: 3rem;
  }
}

.banner-description {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  color: var(--text-color);
  line-height: 1.6;
}

/* Subscribe button */
.btn-primary {
  background-color: #FFCE1A;
  padding: 0.5rem 3rem;
  border-radius: 0.375rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #0D0842;
  color: white;
}
