.top-sellers-section {
  padding: 4rem 1rem; /* Mobile padding */
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .top-sellers-section {
    padding: 2rem 1rem; /* Desktop/tablet padding */
  }
}

.top-sellers-title {
  font-size: 2rem; /* text-3xl = ~2rem */
  font-weight: 600;
  margin-bottom: 1.75rem;
  color:var(--text-color);
}

.top-sellers-filter {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
    
}

.top-sellers-select {
  border: 1px solid #d1d5db;
  background-color: #EAEAEA;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 1rem;
}

.mySwiper {
  width: 100%;
  padding-bottom: 3rem;
    z-index: 1;
  background-color:  var(--bg-color);
}

/* Swiper navigation arrows */
.swiper-button-prev,
.swiper-button-next {
    border-radius: 50%;
   background-color: #f1f1f1;
   font-size: 1.5rem;
   
}

.swiper-slide {
  display: flex;
  justify-content: center;
  
}


.slider-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
