/* Container */
.navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px 16px;
}

/* Nav structure */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* darkmode */
.navbar {
  background-color: var(--card-bg);
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
}

/* Icon */
.icon {
  font-size: 24px;
  cursor: pointer;
}

/* Search */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #111010;
  padding: 4px 12px;
  border-radius: 6px;
  background-color:#f4f1f1;
  width: 350px;
  height: 45px;
}

.search-icon {
  margin-right: 4px;
  font-size: 18px;
  color: var(--text-color);

}

.search-input {
  /* color: #111010; */
  color: var(--text-color);

  border: none;
  outline: none;
  font-size: 16px;
  background-color: #fef9f9;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  
}
.search-input:focus {
  outline: none;
  border: 1px solid #2563eb;
  box-shadow: 0 0 6px #2563eb;
}

.recommend-link {
   font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #111;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #f3f3f3;
  transition: background-color 0.3s ease;
}

.recommend-link:hover {
  background-color: #e0e0e0;
}


/* Avatar */
.avatar-button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  border: none;
  outline: none;
  cursor: pointer;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
 object-fit: cover;
 display: block;
 margin-top: 4px;
}

.avatar-active {
  border: 2px solid #3b82f6;
}

/* Dropdown */
.dropdown-menu {
  position: absolute;
  right: 0;
  margin-top: 8px;
  width: 192px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 40;
}

.dropdown-menu ul {
  list-style: none;
  padding: 8px 0;
  margin: 0;
}

.dropdown-link {
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.dropdown-link:hover {
  background-color: #f5f5f5;
}

.logout-button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

/* Cart */
.cart-button {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  background-color: #FFD700;
  border-radius: 4px;
  text-decoration: none;
}

.cart-icon {
  font-size: 20px;
  margin-right: 4px;
}

.cart-number {
  font-size: 14px;
  color: black;
}

/* Misc */
.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color:  var(--text-color);
}
