.book-card {
  /* border-radius: 0.5rem; */
  transition: box-shadow 0.3s ease;
  background-color: var(--bg-color);
  /* background-color: #fff; */
  padding: 1.5rem;
}


.book-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
 width: 450px;
 padding: 2.5rem 1rem;
}

@media (min-width: 640px) {
  .book-card-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 18rem; /* sm:h-72 */
     
   
  }
}

.book-image-wrapper {
  height: 12rem; /* sm:h-72 */
  flex-shrink: 0;
  border: none; /* light gray border */
  border-radius: 0.375rem;
  overflow: hidden;
  background-color: transparent;
}
/* dark mode */
.book-card {
  background-color: var(--card-bg);
  color: var(--text-color);
  
}

.book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* padding: 1rem; */
  border-radius: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
   box-shadow : 0.2s ease,black filter 0.2s ease;
  background-color: transparent;
}
.book-image:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}


.book-info {
  flex: 1;
}

.book-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  transition: color 0.3s ease;
 text-decoration-line: none;
  color: var(--text-color);

  padding: 0 1rem;
}

.book-title:hover {
  color: #2563eb; /* blue-600 */
}

.book-description {
  color: var(--text-color);
  margin-bottom: 1.25rem;
  width: 200px;
  padding: 0 1rem;
}

.book-price {
  font-weight: 500;
  margin-bottom: 1.25rem;
   padding: 0 1rem;
}

.old-price {
  text-decoration: line-through;
  font-weight: 400;
  margin-left: 0.5rem;
}

.btn-primary {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.75rem 1.5rem;
  background-color: #f5d718c7; /* blue-500 */
  color: rgb(10, 10, 10);
  
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #2563eb; /* blue-600 */
}
