:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #ffffff;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #fff7f7;
  --card-bg: #121212;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color); /* This sets default text color */
  transition: all 0.3s ease;
}
